In [46]:
import pandas

In [47]:
df = pandas.read_csv('percentage_predict.csv', low_memory=False)

In [54]:
group = df[df['Parent_Group'] == 'Other']
group

                     Group Parent_Group  Percentage
0                 Accident        Other       10.73
11                    Fall        Other       19.66
13                    Fire        Other        1.78
14                HIV/AIDS        Other        9.42
16           Heat Exposure        Other        0.05
17               Infection        Other       27.20
23      Medical Care Error        Other        2.38
25      Military Situation        Other        0.11
26  Motor Vehicle Accident        Other       19.04
28        Natural Disaster        Other        1.12
29                   Other        Other        3.83
36            Unkown cause        Other        4.69